
@mixin pos($v) {
  @if
  $v == a {
  position: absolute;
} @else if $v == r {
  position: relative;
} @else if $v == f {
  position: fixed;
}
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(1, -0.025, 1, 0.865)

)
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}

@mixin transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}

.f-index-page-C{

  &.hide{
    @include transform(translate3d(0,-100%,0));
    @include transition_transform(500ms);
  }
  @include pos(a);
  left:0;
  top:0;
  width:100vw;
  height:100vh;

  z-index:200;
  overflow: hidden;

  div{
    @include pos(a);
  }
  .f-heart{

    top:3rem;
    left:-1.5rem;
    @include transform(scale(0));
  }
  .f-camera{
    width:4rem;
    left:8vw;
    top:4vh;
    z-index:1;
    @include transform(scale(0));
  }
  .f-necktie{
     width:3rem;
     top:3rem;
    left: 1.5rem;
    z-index:0;
    @include transform(translate3d(-100px,0,0));
    opacity:0;
  }

  .f-father-text{
    width:7rem;
    right: .1rem;
    top:2.2rem;
    @include transform(scale(0));
  }

  .f-father{
    width:5rem;
    bottom:0;
    right:0;
    @include transform(translate3d(300px,0,0));
  }
  .f-love{
    width:4rem;
    bottom:1.6rem;
    left: 1.3rem;
    opacity:0;
  }
  .f-logo{
    width:1.5rem;
    bottom:1rem;
    left:1rem;
    opacity:0;
  }

}
 