html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  height: 100%;
}
img {
  border: none;
  vertical-align: top;
  width: 100%;
}
input,
textarea,
button {
  outline: none;
  font-family: "微软雅黑";
  border-radius: .065rem !important;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
}
input {
  border: none;
  -webkit-appearance: none;
  border-radius: .065rem !important;
}
textarea {
  -webkit-appearance: none;
}
body {
  font-family: "微软雅黑";
  font-size: .4rem;
  overflow: hidden;
  height: 100%;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 800px;
  transform-style: preserve-3d;
  perspective: 800px;
}
body {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.f-main-ui {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
.f-main-ui .f-main-content {
  width: 100%;
}
.f-main-ui .f-main-content .f-main-share-1 {
  display: block;
  position: absolute;
}
.f-main-ui .f-main-content .f-main-line {
  height: 4.1rem;
}
.f-main-ui .f-main-content .f-main-text {
  width: 8rem;
  height: 4.7rem;
  position: relative;
  margin: 0 auto;
}
.f-main-ui .f-main-content .f-main-text p {
  color: #3b1c00;
  font-size: .5rem;
  line-height: .95rem;
}
.f-main-ui .f-main-content .f-main-img-line {
  height: .5rem;
}
.f-main-ui .f-main-content .f-main-img {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: none;
}
.f-main-ui .f-main-content .f-main-img .f-main-img-item {
  width: 6rem;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  padding: 9px 5px;
  padding-bottom: 45px;
  z-index: 20;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.f-main-ui .f-main-content .f-main-img .f-main-img-item .f-tape {
  position: absolute;
  width: 90px;
  left: -0.55rem;
  top: -0.4rem;
  z-index: 33;
  transform: rotate(5deg);
}
.f-main-ui .f-main-content .f-main-img .f-main-img-item div {
  width: 5.5rem;
  margin: 0 auto;
  top: .5rem;
}
.f-main-ui .f-main-content .f-main-img1 {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: none;
}
.f-main-ui .f-main-content .f-main-img1 .f-main-img-item {
  width: 5rem;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  padding: 9px 5px;
  padding-bottom: 45px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  left: -2.5rem;
  top: .6rem;
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  z-index: 20;
}
.f-main-ui .f-main-content .f-main-img1 .f-main-img-item .f-tape {
  position: absolute;
  width: 70px;
  left: -0.6rem;
  top: -0.8rem;
  z-index: 33;
}
.f-main-ui .f-main-content .f-main-img1 .f-main-img-item div {
  width: 4.5rem;
  margin: 0 auto;
  top: .5rem;
}
.f-main-ui .f-main-content .f-main-img1 .f-main-img-item1 {
  width: 5rem;
  background-color: #fff;
  position: absolute;
  margin: 0 auto;
  padding: 9px 5px;
  padding-bottom: 45px;
  z-index: 20;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  left: 4.3rem;
  top: -0.5rem;
  z-index: 19;
}
.f-main-ui .f-main-content .f-main-img1 .f-main-img-item1 .f-tape {
  position: absolute;
  width: 70px;
  right: .6rem;
  top: -0.8rem;
  z-index: 33;
}
.f-main-ui .f-main-content .f-main-img1 .f-main-img-item1 div {
  width: 4.5rem;
  margin: 0 auto;
  top: .5rem;
}
.f-main-ui .f-main-content .f-main-img2 {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: none;
}
.f-main-ui .f-main-content .f-main-img2 .f-main-img-item {
  width: 4rem;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  padding: 9px 5px;
  padding-bottom: 45px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  left: -2rem;
  top: -0.2rem;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  z-index: 20;
}
.f-main-ui .f-main-content .f-main-img2 .f-main-img-item .f-tape {
  position: absolute;
  width: 70px;
  left: -0.6rem;
  top: -0.8rem;
  z-index: 33;
}
.f-main-ui .f-main-content .f-main-img2 .f-main-img-item div {
  width: 3.5rem;
  margin: 0 auto;
  top: .5rem;
}
.f-main-ui .f-main-content .f-main-img2 .f-main-img-item1 {
  width: 4rem;
  background-color: #fff;
  position: absolute;
  margin: 0 auto;
  padding: 9px 5px;
  padding-bottom: 45px;
  z-index: 20;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  left: 5.3rem;
  top: .5rem;
  z-index: 19;
}
.f-main-ui .f-main-content .f-main-img2 .f-main-img-item1 .f-tape {
  position: absolute;
  width: 70px;
  right: .6rem;
  top: -0.8rem;
  z-index: 33;
}
.f-main-ui .f-main-content .f-main-img2 .f-main-img-item1 div {
  width: 3.5rem;
  margin: 0 auto;
  top: .5rem;
}
.f-main-ui .f-main-content .f-btn-line {
  height: 1.5rem;
}
.f-main-ui .f-main-content .f-main-logo {
  float: right;
  margin-right: .5rem;
  width: 2rem;
}
.f-main-ui .f-main-content .f-main-logo img {
  display: block;
}
.f-main-ui .f-main-content .f-main-logo.has-img {
  margin-top: -2.5rem;
}
.f-main-ui .f-main-content .f-main-logo.has-img1 {
  margin-top: -2.5rem;
}
.f-main-ui .f-main-share {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
}
.f-btn.no-img {
  margin-top: 3rem;
}
